/* ======================================== */
/* ============= ERROR SCREEN ============= */
/* ======================================== */

/* Toogle the error screen showing up on dev screen */
#webpack-hot-middleware-clientOverlay{
  display: none;
}

/* ================================= */
/* ============= FONTS ============= */
/* ================================= */

@font-face {
  font-family: 'LANENAR';
  font-weight: normal;
  font-style: normal;
  color: black;
  src: local('LANENAR'), url("fonts/LANENAR.woff") format("woff"),
        url("/fonts/LANENAR.woff2") format("woff2"),
        url("/fonts/LANENAR.tff") format("ttf");
}

@font-face {
  font-family: 'WisdomScript';
  font-weight: normal;
  font-style: normal;
  color: black;
  src: local('WisdomScript'), url("fonts/WisdomScript.woff") format("woff"),
        url("/fonts/WisdomScript.woff2") format("woff2"),
        url("/fonts/WisdomScript.tff") format("ttf");
}


/* =================================== */
/* ============= APP CSS ============= */
/* =================================== */

div, span, body, label, h1, h2, h3, h4 {
  font-family: "LANENAR";
  color: black;
}

a { 
  text-decoration: none !important;
  color: inherit !important;
}

.app-content{
  margin-top: 50px;
}

.navbar{
  background-color: white;
  border: none;
  /*display: none;*/
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: black;
  background-color: transparent;
  font-size: 16px;
}


/* ==================================== */
/* ============= FADE CSS ============= */
/* ==================================== */

.fadecss{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 2s;
  opacity: 0;
  visibility: hidden; 
}

.fadecss.show{
  opacity: 1;
  visibility: visible;
}

.fade-slower{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 3s;
  opacity: 0;
  visibility: hidden; 
}

/*THIS WAS FROM FILE app.scss*/
/*.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin: 50px 0; // for fixed navbar
}*/

