/* =============================================== */
/* ============= CONTACT FORM STYLE  ============= */
/* =============================================== */

.top-margin{
  margin-top: 50px;
}

.contact-form-wrap{
  border-right: 2px solid #3b5998;
}

.form-field-area{
  margin-bottom: 25px;
  height: 74px;
}

.contact-form-wrap .form-field-area .form-control{
  font-size: 20px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom-width: 2px;
  background-color: transparent;
  box-shadow: none;
  border-bottom-color: rgba(76,88,111,.76);
}

.contact-form-wrap .form-field-area .form-control:focus{
  border-bottom-color: rgb(102, 175, 233);
  border-bottom-width: 3px;
}

.label-title{
  font-size: 18px;
  letter-spacing: 2px;
}


/*TEXT AREA*/

.contact-form-wrap textarea{
  margin-bottom: 35px;
  font-size: 20px;
}

.text-area{
  resize: vertical;
  font-size: 18px;
}

.contact-form-wrap .text-area .form-control {
  border-radius: 14px;
  border-width: 2px;
  background-color: transparent;
  box-shadow: none;
  border-bottom-color: rgba(76,88,111,.76);
  border-left: 0;
  border-right: 0;
  border-top-color: rgba(76,88,111,.76);
}

.contact-form-wrap .text-area .form-control:focus{
  border-color: rgb(102, 175, 233);
  border-width: 3px;
}


/*BUTTON*/

.contact-btn{
  width: 100%;
  font-size: 20px;
  color: black;
  border-color: rgb(59,89,152);
  border-radius: 50px;
  margin-left: 15px;
  background-color: transparent;
  border-width: 2px;
  letter-spacing: 2px;
}

.contact-form-wrap .form-field-area .btn:hover{
  font-size: 23px;
  background-color: white;
  border-color: rgb(59,89,152);
}



.contact-form-wrap .form-field-area .btn:focus{
  outline: 0;
}


/* ================================= */
/* == RIGHT SIDE OF FORM, STYLE  === */
/* ================================= */

.right-content{
  margin-top: 15px;
  font-size: 18px;
  letter-spacing: 2px;
}



/* ================================= */
/* ======== Media Queries ========== */
/* ================================= */

@media only screen and (max-width: 991px){
  .contact-form-wrap{
    border: none;
  }

}







