/*toggle navbar in this page*/
/*.Resume:hover{
  position: relative;
}
*/
/*.Resume:hover ~ .navbar{
  display: initial;
}*/

.Resume{
  margin-bottom: 70px;
}

h1, h3{
  text-align: center;
}

h1{
  letter-spacing: 7px;
}

h3{
  letter-spacing: 2px;
}

.glyphicon-ok-circle
{
  font-size: 13px;
}

.glyphicon-education, .glyphicon-folder-open, .glyphicon-book, .glyphicon-knight, .glyphicon-star-empty{
  font-size: 20px;
  margin-right: 7px;
}

.glyphicon-menu-right{
  font-size: 10px !important;
  margin-right: 5px;
}

.content-title{
  text-align: left !important;
  padding-bottom: 7px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.content-text{
  display: block;
  font-size: 17px;
  margin: 7px 0px;
}

.inner-content-title, .content-text, .work-inner-text{
  letter-spacing: .9px;
}

.inner-content-title{
  font-size: 19px;
  border-bottom: 1px solid #828282;
  display: inline-block;
  margin-bottom: 3px;
}

.work-inner-text{
  font-size: 17px;
  margin: 7px 0px;
}


.date{
  display: inline-block;
  float: right;
  letter-spacing: 1px;
  font-size: 15px;
}

.linkgit{
  cursor: pointer;
}

/* ============================= */
/* ====== MEDIA QUEIRIES ======= */
/* ============================= */


@media only screen and (max-width: 835px){
  .date{
    width: 100%;
  }
}

@media only screen and (max-width: 511px){
  .sub-t{
    font-size: 18px;
  }
}















