/* ======================================= */
/* ============= WORK STYLE  ============= */
/* ======================================= */

.galleries-grid{
  display: inline-block;
  overflow: hidden;
}



/* ============================== */
/* ======== COVER STYLE ========= */
/* ============================== */

.cover-wrap{
  height: 100%;
  padding: 0px;
  cursor: pointer;
  overflow: hidden;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cover-details{
  display: none;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 200px;
  background-color: rgba(0, 0, 0, 0.74);
  padding: 3px 25px;
}

.cover-details span{
  letter-spacing: 7px;
  font-size: 17px;
  display: block;
  color: white;
}


.cover-wrap:hover{
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 10;
  cursor: pointer;
}

.cover-wrap:hover .cover-details{
  display: inherit;
} 



/* =========================================== */
/* ======== single photo in gallery ========== */
/* =========================================== */


.single-photo{
  margin-bottom: 20px;
}

.glyphicon-menu-left{
  display: block;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}

.highlight-style{
  border-bottom: 1px solid dimgrey;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 7px;
}

.gallery-sidebar{
  position: fixed;
  width: inherit;
  padding: 0px 30px 0px 15px;
  margin-top: 25px;
}

.gallery-sidebar h3{
  cursor: pointer;
}

.left-content{
  height: 270px;
}

.right-content{
  background-color: white;
}

/* ================================= */
/* ======== Media Queries ========== */
/* ================================= */

@media only screen and (max-width: 566px){
  .cover-details span{
    font-size: 10px;
  }
  .cover-details{
    top: 14%;
    left: 20%;
  }
}


















